.icon {
 	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor; 

}



.icon.icon-arrow-left {
  width: 0.5em;
  height: 0.875em;
}

@mixin icon-icon-arrow-left(){
  @extend .icon-arrow-left;
}


.icon.icon-arrow-left-diz {
  width: 0.5em;
  height: 0.875em;
}

@mixin icon-icon-arrow-left-diz(){
  @extend .icon-arrow-left-diz;
}


.icon.icon-arrow-right {
  width: 0.5em;
  height: 0.875em;
}

@mixin icon-icon-arrow-right(){
  @extend .icon-arrow-right;
}


.icon.icon-arrow-right-diz {
  width: 0.5em;
  height: 0.875em;
}

@mixin icon-icon-arrow-right-diz(){
  @extend .icon-arrow-right-diz;
}
