    <header id="header">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class="container">
        <div class="row w-100 align-items-center">
          <div class="text-center text-sm-left col-md-4 col-lg-3">
            <div class="row w-100 align-items-center  no-gutters">
              <div class="col col-auto mr-3"><img src="images/logo.png" width="40" height="40" class="d-inline-block align-top rounded-circle" alt=""></div>
              <div class="col col-auto text-white">weban.ru</div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 offset-lg-1 text-center text-white">Тот - кто питается вебом!</div>
        </div>

      </div>
      </nav>
    </header>