		<main id="main">
			<div class="container">
				<div class="row">
					<div class="col-12 mb-3">
						<div class="p-4 bg-danger text-center"><a class="text-white" href="http://v4-alpha.getbootstrap.com/layout/grid/">Grid system</a></div>
					</div>
				</div>
				<div class="row text-white mb-4">
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ullam, dolore voluptate nemo explicabo quibusdam vitae eveniet ut nobis, odit ipsa ducimus quisquam perspiciatis dicta dolorum sunt! Error, ipsam, dolorum!</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore voluptate at cumque autem saepe possimus repellat harum aliquid, rem, consectetur exercitationem perferendis!</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum qui explicabo, ullam, nam deserunt maxime ad in aut ex saepe. Quo maiores unde ipsum excepturi iste nihil dolor atque.</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, voluptatem! Hic doloribus nam quisquam, ab vero sed blanditiis! Hic, praesentium nam nemo. Beatae, necessitatibus culpa. Ullam perspiciatis minima vitae temporibus?</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magnam animi aut nihil ipsum! Minima quae sint ullam in recusandae distinctio provident nostrum voluptatibus adipisci. Saepe amet, sapiente quasi veritatis?</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ullam, dolore voluptate nemo explicabo quibusdam vitae eveniet ut nobis, odit ipsa ducimus quisquam perspiciatis dicta dolorum sunt! Error, ipsam, dolorum!</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius voluptatem optio architecto nesciunt minus blanditiis dolore voluptate at cumque autem saepe possimus repellat harum aliquid, rem, consectetur exercitationem perferendis!</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum qui explicabo, ullam, nam deserunt maxime ad in aut ex saepe. Quo maiores unde ipsum excepturi iste nihil dolor atque.</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, voluptatem! Hic doloribus nam quisquam, ab vero sed blanditiis! Hic, praesentium nam nemo. Beatae, necessitatibus culpa. Ullam perspiciatis minima vitae temporibus?</div></div>
					<div class="col"><div class="bg-primary p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius magnam animi aut nihil ipsum! Minima quae sint ullam in recusandae distinctio provident nostrum voluptatibus adipisci. Saepe amet, sapiente quasi veritatis?</div></div>
				</div>

				<div style="height: 100px;" class="row bg-info mb-4">
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
				</div>
				<div style="height: 100px;" class="row align-items-center align-content-between bg-info mb-4">
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
				</div>
				<div style="height: 100px;" class="row align-items-end bg-info mb-4">
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
				</div>
			</div>
		</main>
		<!--main-->