    <main id="main" class="pt-5 pt-lg-0">
      <div class="container content">
        <article class="mb-5 text-center">
          <h1 class="mb-4 text-center">Нужен веб-разработчик в команду.</h1>
          <h3 class="h1"> Проект -- социальная сеть.
          </h3>
        </article>
          <div class="row mb-4 mb-lg-0">
            <div class="col-lg-4">
              <h5 class="mb-3">Необходимые знания:</h5>
              <ol>
                <li class="mb-1">vue.js,</li>
                <li class="mb-1">express.js,</li>
                <li class="mb-1">mongodb.</li>
              </ol>
            </div>
            <div class="col-lg-4">
              <h5 class="mb-3">Обязаности:</h5>
              <ol>
                <li class="mb-1">расширение функционала,</li>
                <li class="mb-1">поддержка и оптимизация,</li>
                <li class="mb-1">тестирование,</li>
                <li class="mb-1">обеспечение безопасности.</li>
              </ol>
            </div>
            <div class="col-lg-4">
              <h5 class="mb-3">Контакты для связи:</h5>
              <div class="pl-3">
              <div class="mb-1 small"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:6001289@gmail.com">6001289@gmail.com</a></div>
              <div class="mb-1 small"><i class="fa fa-skype mr-2" aria-hidden="true"></i> postword</div>
              <div class="mb-1 small"><i class="fa fa-telegram mr-2" aria-hidden="true"></i>+7 (964) 882-20-34</div>
              <div class="mb-1 small"><i class="fa fa-whatsapp mr-2" aria-hidden="true"></i>+7 (964) 882-20-34</div>
              <div class="small"><i class="fa fa-phone mr-2" aria-hidden="true"></i> +7 (999) 600-12-89</div>
              </div>
            </div>
          </div>
      </div>
    </main>
    <!--main-->